* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.faq-sec {
  padding-top: 60px;
  padding-bottom: 60px;
}
.faq-fea h1 {
  font-weight: 700;
  padding-bottom: 30px;
}
.faq-accordion .accordion-item {
  background-color: #ffffff;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  overflow: hidden;
}

.faq-accordion .accordion-button {
  /* background-color: #f8f9fa; */
  color: black; /* color: #0d6efd; */
  font-weight: 600;
  border-radius: 12px;
}

/* .faq-accordion .accordion-button:focus {
  box-shadow: none;
} */

/* .faq-accordion .accordion-button:not(.collapsed) {
  background-color: #e7f1ff;
  color: #0d6efd;
} */

/* .faq-accordion .accordion-body {
  color: #495057;
  line-height: 1.5;
} */
